section#intern
  .row
    .small-12.columns
      h2 Work / Internship
      ul
        li 株式会社電通国際情報サービス <span>2017/4 ~</span>
        li 読売新聞大阪本社 (記事編集補助) <span>2016/6~ 2016/8</span>
        li CyberAgent (デザイナーインターン) <span>2015/9</span>
        li リブセンス (ビジネスインターン) <span>2015/9</span>
        li ネクスト (デザイナーインターン) <span>2015/8</span>
        li Goods inc. (デザイナー・営業) <span>2015/5 ~ 2017/3</span>
        li Life is Tech !（メンター・デザイナー）<span>2015/2 ~ 2016/3</span>
        li Campus Inc.  (webマガジン編集) <span>2014/9 ~ 2017/3</span>
        li 成基総研(コーチ)  <span>2014/4 ~ 2015/3</span>